body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
}

main{
    display: flex;
    justify-content: center;
}

.container{
    width: 900px;
}

header {
    margin: 0;
    background-color: black;
    width: auto;
    height: 100px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 31px 0;
    color: rgb(228, 228, 228);
}

h2 {
    padding: 0px 20px 0;
}

.content{
    display: flex;
    color: black;
}

.blox1,
.blox2 {
    padding: 20px;
}

footer {
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: black;
    width: auto;
    height: 100px;
}

p{
    margin: 0;
}

footer p {
    text-align: start;
    text-transform: uppercase;
    margin: 0;
    padding: 31px 0;
    color: rgb(228, 228, 228);
}